@charset "utf-8";
/* CSS Document */


body{margin:0;
font-family:'メイリオ','Hiragino Kaku Gothic Pro',sans-serif;
}

/*************************INDEX*********************************/

/***************************top-navi******************************/
.navi{background:#49b9cd;
width:100%;
height:120px;
position:fixed;
z-index:5555;}

.tomo{display:inline-block;
color:#fff;
font-size:50px;
font-family: 'Rancho', cursive;
transform:scale(1,1.2);
padding-top:10px;
border-bottom:5px solid #fff;
margin-left:20px;}

.navi-ul-ul{background:#fff;
width:100%;
display:block;
position:fixed;
top:120px;
left:0;
height:190px;
text-align:center;
border-bottom:1px solid #999;
}

.ul-text a{color:#000;
}

.ul-text a img{border-radius:5px;}

.ul-text a i{font-size:70px;
background:#444;
padding:20px;
margin-top:10px;
border-radius:5px;
color:#fff;}

.ul-text a p{margin-top:10px;}

.navi-ul-ul ul{display:inline-block}

.navi-ul-ul li{float:left;
display:block;
width:160px;
padding:20px;
margin-right:10px;
}
.wrap1{position:relative;}
.navi-nav{
margin-top:10px;
	float:right;
	position:fixed;
	z-index:8888;
	right:0;
}
.navi-nav nav{float:left;}

.navi-nav nav>ul>li{
margin-left:20px;
width:100px;
height:110px;
float:left;
display:block;
text-align:center;
}

.navi-nav form{
	margin: 10px 10px;
	float:right;
display:block;}

.navi-nav form p{
text-align:center;
color:#444;
border-radius:15px;
}

.navi-nav form p input{
box-shadow:1px 2px 1px 1px #444;
}

.navi-nav form input{
border:2px #fff solid;
border-radius:15px;
background:#eee;
margin:5px;
height:35px;
min-width:100px;
}

.navi-icon i{color:#49b9cd;
	font-size:45px;
	background:#fff;
padding:15px;
border-radius:50%;
width:80px;
height:80px;
display:block;
margin:0 10px;
}

.navi-icon{
text-align:center;
}

.navi-text{
	margin-top:5px;
font-size:14px;
font-weight:bold;
	color:#fff;
display:block;}

.navi:after {
  content: "";
  display: block;
  clear: both;
}

.navi .wid-1:after {
  content: "";
  display: block;
  clear: both;
}
.navi-nav:after {
  content: "";
  display: block;
  clear: both;
}
.navi-nav nav:after {
  content: "";
  display: block;
  clear: both;
}

.navi-nav nav ul:after {
  content: "";
  display: block;
  clear: both;
}

.navi-ul-ul ul:after {
  content: "";
  display: block;
  clear: both;
}

.navi-ul-ul:after {
  content: "";
  display: block;
  clear: both;
}
/***************************top-img******************************/
.top-image{position:relative;
max-height:820px;
text-align:center;}

.top-image img{
	max-height:820px;
object-fit:fill;}

.top-image p{
color:#fff;
font-size:50px;
font-weight:bold;
letter-spacing:0.15em;
    position:absolute; /* 絶対配置 */
    top:60%; /* 上から半分 */
    width:100%; /* 大枠と同じ幅に */
    margin:-1.5em 0 0 0; /* 要素の大きさの半分引く */}
.img-logo{
position:absolute;
bottom:30px;
right:5%;
width:200px;}

.top-image:after {
  content: "";
  display: block;
  clear: both;
}

/*************************お知らせ*********************************/

.osirase{padding:50px 0;
width:100%;
height:330px;}

.osirase>p{
	font-size:20px;
	letter-spacing:0.15em;
	font-weight:bold;
	color:#000;
	width:25%;
	float:left;
text-align:center;}

.osirase-text{width:50%;
	float:left;}

.osirase-text p{border-bottom:1px #777 dashed;
margin-bottom:10px;
padding-bottom:3px;}

.osirase-text p span{font-size:12px;
color:#4072f3;
margin-right:20px;}

.osirase-itiran{
	display:block;
	margin-top:70px;
}

.osirase-text p a{display:inline-block;}

.osirase-itiran a{
	display:inline-block;
	font-size:12px;
	color:#8bddc8;
	letter-spacing:0.05em;
	border:solid 2px #8bddc8;
padding:7px 14px;}

.osirase:after {
  content: "";
  display: block;
  clear: both;
}

/*************************とは？*********************************/

.toha{background-image:url(../img/toha-back.png);
background-repeat:none;
background-size:contain;
background-position:center;
padding:60px 0;
margin-bottom:60px;
}

.toha-title{font-size:30px;
text-align:center;
font-weight:normal;
margin-bottom:60px;}

.toha-title span{
	font-size:55px;
font-weight:bold;
font-family: 'Rancho', cursive;}

.toha-text{
	font-size:18px;
	width:50%;
float:left;
text-align:center;}

.toha-text p{
	margin-top:30px;
	text-align:center;
	width:100%;
}
.toha-text p span{display:inline-block;
	width:350px;
	text-align:left;
margin-right:0;
margin-left:0;}

.toha-2{font-size:25px;
font-weight:bold;}

.toha-img{
	margin:0 auto;
	padding:0 auto;
	width:50%;
	float:left;
text-align:center;}


.toha-img img{width:400px;
	margin:0 auto;
	padding:0 auto;}

.toha:after {
  content: "";
  display: block;
  clear: both;
}

/*************************con1*********************************/

.con1{background:#e3dfdf;}

.con1 h2{background:#e3dfdf;}

.con1>p{background:#e3dfdf;}

.t-d{
	float:left;
	width:23.5%;
margin-right:2%;
padding:30px 20px 10px 20px;
display:block;}

.tanosimi:after {
  content: "";
  display: block;
  clear: both;
}

.t-d{
	background:#fff;
	border-radius:10px;
	border:solid 2px #999;
	position:relative;
}



.t-d-4{margin-right:0;}

.nambar{
position:absolute;
display:block;
color:#26b18e;
font-size:90px;
top:-50px;
left:35px;
font-family: 'Noto Serif', serif;
font-style:italic;
opacity:0.7;
}

.nambar span{font-size:40px;
position:absolute;
top:15px;
right:55px;}

.tanosimi-img{border-radius:50%;
overflow:hidden;
}

.tanosimi-text{
border-radius:5px;
}

.tanosimi-title{text-align:left;
color:#26b18e;
font-size:20px;
padding-top:10px;
padding-bottom:5px;}

.tanosimi-title span{
	padding:3px 10px;
}

.tanosimi-setumei{font-size:14px;
	font-weight:normal;
	padding-top:5px;
	border-top:dotted #999 1px;
color:#000;}

.tanosimi-more{
	text-align:right;
	padding-top:5px;
padding-right:10px;
font-weight:normal;}

.tanosimi-more span{
	font-size:20px;
	color:#26b18e;
	margin-right:5px;}




/*************************con2*********************************/

.con2{background:#f9f2e3;}
.con2>p{background:#f9f2e3;}
.con2 h2{background:#f9f2e3;
}
.pickup li{float:left;
width:49%;
margin-right:2%;
}

.pickup-1{
	border:2px solid #999;
	border-radius:10px;
	background:#fff;
	display:block;
	position:relative
}
.pickup-1:before{content:"NEW";
position:absolute;
background:#fa9292;
font-size:23px;
color:#fff;
width:95px;
height:60px;
transform:rotate(15deg);
text-align:center;
font-weight:bold;
padding-top:13px;
border-radius:50%;
border:#fff solid 1px;
right:-10px;
top:-20px;}

.pickup-1:after {
  content: "";
  display: block;
  clear: both;
}

.pick-text{width:50%;
float:left;
font-weight:bold;
padding:15px 0 15px 20px;
font-size:18px;
color:#000;
}

.pick-img{overflow:hidden;
	width:50%;
float:right;
text-align:center;
}
.pick-img img{margin:10% 0 10% 0;
width:220px;
border:5px solid #fff;
}

.pick-title{height:90px;}

.pick-text time{color:#4072f3;
font-size:14px;
margin-top:10px;
padding:5px 0;
font-weight:normal;
display:block;
}

.pick-setumei{
font-weight:normal;
height:70px;
	font-size:12px;
color:#000;
}

/*************************con3*********************************/

.con3{background:#f8f6f0;}
.con3 h2{background:#f8f6f0;}
.con3>p{background:#f8f6f0;}

.event li{float:left;
width:32%;
margin-right:2%;
}

.event li a{
	border-radius:5px;
	background:#fff;
	display:block;
	overflow:hidden;
	border:#999 2px solid;
}

.event-img{min-width:185px;
margin-bottom:10px;
height:230px;
overflow:hidden;
}


.event-text{color:#000;
font-weight:bold;
padding:10px 20px;}

.event-text time{font-size:12px;
color:#4072f3;}

.event-basho{font-size:14px;}

/*************************con4*********************************/

.con4{background:#dcf3f7;}
.con4 h2{background:#dcf3f7;}
.con4>p{background:#dcf3f7;}

.moderu-title{height:50px;}

/*************************con5*********************************/
.con6{background:#f8f6f0;}
.con6 h2{background:#f8f6f0;}
.con6>p{background:#f8f6f0;}

/*************************koukoku*********************************/
.koukoku{padding-top:40px;
padding-bottom:40px;
background:#9bbdb1;}

.koukoku p{font-size:23px;
color:#fff;
margin-bottom:20px;}

.koukoku1 li{width:200px;
float:left;
margin-right:50px;
border:solid 4px #fff;
}

.koukoku2{margin-top:20px;
list-style:none;
margin-left:50px;
}


.koukoku2 li{width:300px;
float:left;
margin-right:50px;
border:solid 4px #fff;
}

.koukoku1{list-style:none;
width:3000px;
padding-bottom:40px;
border-bottom:dotted 1px #fff;}

.koukoku1:after {
  content: "";
  display: block;
  clear: both;
}

.koukoku2:after {
  content: "";
  display: block;
  clear: both;
}
.koukoku:after {
  content: "";
  display: block;
  clear: both;
}

.koukoku .wid{overflow:hidden;}

.site-map{background:#353535;}

.site-map-iwa img{width:120px;}

.site-map-iwa{float:left;}

.copy-right ul{float:left;
list-style:none;
margin-left:10px;
margin-top:20px;}

.copy-right ul li{float:left;
list-style:none;
margin-left:20px;
border-right:solid 1px #999;
}
.copy-right ul li a{

	color:#000;
	font-size:14px;
	padding-left:3px;
margin-right:10px;}

.copy{float:right;
	font-size:12px;
margin-top:20px;}

.copy-right ul:after {
  content: "";
  display: block;
  clear: both;
}

.copy-right:after {
  content: "";
  display: block;
  clear: both;
}

.iroiro li{float:left;
width:32%;
margin-right:2%;
padding:15px;}

.iroiro ul:after {
  content: "";
  display: block;
  clear: both;
}


.iroiro li a{
	border-radius:50%;
	display:block;
	overflow:hidden;
	position:relative;
	border:2px solid #999;
}



.iroiro-title{height:35px;
color:#fff;
font-size:25px;}

.iroiro-text{color:#000;
font-weight:bold;
text-align:center;
position:absolute;
    top:44%; /* 上から半分 */
    width:100%; /* 大枠と同じ幅に */

}

.iroiro-more{margin-top:15px;
	text-align:center;
font-weight:bold;
}

.iroiro-more span{
	border:2px solid #26b18e;
	font-size:20px;

	padding:3px 15px 6px 15px;
	color:#26b18e;
}



.toha-title:after{content:"";
display:block;
height:8px;
width:80px;
margin:0 auto;
margin-top:10px;
background:#fcef63;}

.content-title-1{
color:#000;
font-size:36px;
width:300px;
font-weight:normal;
text-align:center;
font-family: 'Noto Serif', serif;
position:absolute;
top:15px;
left:50%;
margin-left:-150px;
}


.content-title-2{
	font-weight:bold;
	width:250px;
	font-size:14px;
text-align:center;
position:absolute;
top:70px;
left:50%;
margin-left:-125px;
}

.content-title-2:after{content:"";
display:block;
height:8px;
width:60px;
margin:0 auto;
margin-top:7px;
background:#fcef63;}

.content{padding-top:60px;
	padding-bottom:30px;
position:relative;}

.content-list{list-style:none;
padding-top:85px;
border-top:dotted 2px #000;
}

.content-list li:nth-last-child(1){margin-right:0;}

.content-list:after {
  content: "";
  display: block;
  clear: both;
}

.itiran{text-align:center;
margin-top:35px;}

.content:after {
  content: "";
  display: block;
  clear: both;
}

.itiran a{
	color:#fa9292;
font-weight:bold;
font-size:16px;
background:#fff;
border:2px solid #fa9292;
padding:8px 23px 8px 30px;
}

img{width:100%;}

.wrap{width:100%;}
.wid-1{height:100%;}
.wid,.wid-1,.copy-right,.wrap-event-1{width:1100px;
margin:0 auto;}

/*************************event-page*********************************/
.wrap-event{background:#edf0ef;}

.top-img-2{padding-top:120px;
position:relative;
text-align:center;}
.top-img-2 img{max-height:400px;}
.top-image-2-text{
		color:#fff;
		font-size:60px;
		font-weight:bold;
		letter-spacing:0.15em;
		    position:absolute; /* 絶対配置 */
		    top:70%; /* 上から半分 */
		    width:100%; /* 大枠と同じ幅に */
		    margin:-1.5em 0 0 0; /* 要素の大きさの半分引く */
		font-family: 'Noto Serif', serif;
		text-shadow:3px 3px 3px #000;}

.top-image-2-text-2{font-size:20px;}

.category ul{list-style:none;
text-align:center;

}
.category li{float:left;
width:20%;
border:3px solid #edf0ef;
}
.category li span{display:block;
color:#fff;
padding-top:20px;
padding-bottom:20px;
font-size:20px;
background:#fa9292;
color:#fff;
border-bottom:5px solid #da7272;
border-right:1px solid #da7272;
border-radius:8px;
box-shadow:5px 5px 5px 5px #fff inset;
box-shadow:0px 1px 3px 0px #999;
}
.category li span:hover{background:#faa2a2;}

.category ul:after {
  content: "";
  display: block;
  clear: both;
}
.category-a>p{text-align:center;
font-size:30px;
margin-top:30px;
margin-bottom:30px;}

.category-a>p:after{content:"";
display:block;
height:8px;
width:60px;
margin:0 auto;
margin-top:7px;
background:#fcef63;}

.category-a ul{list-style:none;
background:#edf0ef;
padding-bottom:20px;}

.category-a li{float:left;
width:22%;
margin:20px 1.5%;
height:400px;
background:#fff;
padding:10px;
}

.category-a li a{
	color:#000;
	display:block;
	}
.category-a li a:hover{opacity:0.8;}
.cat-title{font-size:20px;
	padding-top:10px;
	padding-bottom:10px;
	height:45px;
	overflow:hidden;
	text-overflow:ellipsis;
}
.category-a li img{
	height:230px;
}
.cat-text{font-size:12px;
	height:75px;
	width:225px;
	white-space:pre-wrap;
	overflow:hidden;
	text-overflow:ellipsis;}
.category-a ul:after {
  content: "";
  display: block;
  clear: both;
}
.spot-more{text-align:right;
	padding-right:5px;
	margin-top:3px;}
.spot-more span{background:#26b18e;
color:#fff;
padding:5px 10px;
border-radius:5px;}





.category-b>p{text-align:center;
font-size:30px;
margin-top:30px;
margin-bottom:30px;}

.category-b>p:after{content:"";
display:block;
height:8px;
width:60px;
margin:0 auto;
margin-top:7px;
background:#fcef63;}

.category-b ul{list-style:none;
background:#edf0ef;}

.category-b li{float:left;
width:47%;
margin:20px 1.5%;
height:220px;
background:#fff;
padding:10px;
}
.event-b{
float:left;
	width:55%;
margin-left:5%;}
.category-b li a{
	color:#000;
	display:block;
	}
.category-b li a:hover{opacity:0.8;}
.cat-title{font-size:20px;
	padding-top:10px;
	padding-bottom:10px;
	height:45px;
	overflow:hidden;
	text-overflow:ellipsis;
}
.category-b li img{
	float:left;
	width:40%;
}
.category-b-text{font-size:12px;
	height:75px;
	width:270px;
	white-space:pre-wrap;
	overflow:hidden;
	text-overflow:ellipsis;}
.category-b ul:after {
  content: "";
  display: block;
  clear: both;
}
.cat-time{font-size:13px;
margin-bottom:4px;
color:#77f;}
.cat-area{font-size:15px;
margin-bottom:2px;
font-weight:bold;
color:#a95;}

/*************************event-shousai*********************************/
.wrap-shousai{padding-top:160px;
background:#edf0ef;}
.wrap-shousai-1{text-align:center;
font-size:45px;
}
.wrap-shousai-2{text-align:center;}


/*************************タブ*********************************/
.tabu{display:none;}
.select{background:#edf0ef;
color:#fa9292;}

ul{list-style:none;}


/*************************特産*********************************/
.special-all{width:900px;
margin:0 auto;}
.special-con div{width:900px;
margin:0 auto;}
.special-top h2{font-size:40px;
font-family: 'Noto Serif', serif;
color:#444;
margin:50px 0;
 }
 .special-top p{font-size:16px;
 	font-weight:bold;
 	color:#666;
 margin-bottom:50px;
 border-radius:15px;
border-right:4px solid #666;
border-left:4px solid #666;}
 .special-cate{
 	margin-bottom:80px;
 }

 .special-cate li{float:left;
 font-weight:bold;
padding:10px;
}
.special-cate li a{color:#222;
	padding:5px;
display:block;
position:relative;}
.special-cate li a i{position:absolute;
left:0;
top:25px;
width:100%;
text-align:center;}

.special-cate li a:after{content:"";
display:block;
height:5px;
width:0%;
margin:0 auto;
margin-top:-7px;
background:#00af77;}
.special-cate li a:hover i{transition-duration:0.2s;
	padding-top:5px;}
.special-cate li a:hover:after{width:100%;
transition-duration:0.2s;}
.special-cate ul{display:inline-block;
padding:5px 70px 25px;
background:#fff;
border-radius:60px;
box-shadow:0px 1px 3px 0px #999;}
 .special-cate ul:after {
  content: "";
  display: block;
  clear: both;
}
.special-img{height:auto;
max-height:auto;}
.special-con{padding-bottom:80px;
}
.special-con div h3{font-size:35px;
font-family: 'Noto Serif', serif;
margin-top:50px;
}
.special-con div h3:after{content:"";
display:block;
height:8px;
width:60px;
margin:0 auto;
margin-top:7px;
background:#00af77;}
.special-con-p{padding:30px;
background:#fff;
border-radius:10px;
margin:30px 0;
border:2px solid #aaa;}
.special-con-v{font-size:12px;
margin-bottom:30px;}
.special-con div img{height:auto;}
.onsenno{margin-top:40px;}
.iframe-img{width:900px;
height:500px;}
/*************************400*********************************/
@media (max-width:400px){

.top-image p{
color:#fff;
font-size:20px;}

.img-logo{
position:absolute;
bottom:30px;
right:5%;
width:80px;}

.osirase-text{width:300px;}

.t-d{padding: 10px 10px 10px 10px;}

.nambar{font-size:70px;}

.event-img {height:150px;}
.event-text {padding:0px 20px;}
.event-title{font-size:14px;}
time{font-size:8px}
.event-basho{font-size:10px;}
.tanosimi-more{padding-top:0;}
.moderu-title {
    height: 20px;
}
.iroiro li a img{object-position:0px 0px;}

}

@media (max-width:500px){
.category-a li{float:none;
width:97%;
margin:20px 1.5%;
height:400px;
}
.cat-time{font-size:10px;}
.cat-text{width:100%}
.category-b li{float:none;
width:97%;
height:150px;
}
.category li span{font-size:12px;}	
.category-b-text{display:none;}
.special-all{width:95%;
	margin-right:2.5%;
	margin-left:2.5%
}
.special-con div{width:95%;
	margin-right:2.5%;
	margin-left:2.5%
}
.iframe-img{width:100%;
height:250px;}
.special-cate ul{padding:5px 10px 15px;}
.special-cate li{padding:10px 0px;}
 .special-top p{font-size:12px;}
 .special-con-p{font-size:12px;}
 .special-top h2{margin-top:0;}
}
@media (min-width:500px) and (max-width:768px) {
/****************** タブ *******************************/

.category-b li{float:none;
width:97%;
height:220px;
}
.category-b-text{width:100%;}	
.category-a li{float:left;
width:47%;
margin:20px 1.5%;
height:400px;
}
.special-all{width:500px;
}
.special-con div{width:500px;
}
.iframe-img{width:500px;
height:280px;}
.special-cate ul{padding:5px 30px 15px;}
.special-cate li{padding:10px 3px;}
 .special-top p{font-size:14px;}
 .special-con-p{font-size:14px;}
}
/*************************600*********************************/
@media (max-width:600px)and(min-width:400px){
.osirase-text{width:500px;}}
@media (max-width:600px){
.osirase{padding:10px 0;}

	.osirase>p{
	width:100%;
	float:none;
	margin-bottom:10px;
text-align:center;}

.osirase-text{
	float:none;
	margin:0 auto;}

.osirase-itiran{margin-top:10px;}

.toha-img{display:none;}

.toha-text{width:100%;
float:none;
text-align:center;}
.toha-text p span{
text-align:center;}

.toha-title{margin-bottom:20px;}

.toha{margin:30px 0;
padding:30px 0;}


.pick-text{width:70%;
float:left;
font-weight:bold;
padding:10px 0 10px 15px;
font-size:14px;
color:#000;
}

.pick-title {
    height: 60px;}

.pick-img{
	width:30%;
}

.pick-img img{
	width:100px;
}


.pick-setumei{display:none;}

.pickup-1:before{content:"NEW";
position:absolute;
background:#fa9292;
font-size:12px;
color:#fff;
width:60px;
height:35px;
padding-top:8px;
border-radius:50%;
border:#fff solid 1px;
right:-10px;
top:-20px;}

}

/*************************768*********************************/
@media (min-width:400px) and (max-width:768px) {

.top-image p{
color:#fff;
font-size:30px;}

.img-logo{
position:absolute;
bottom:30px;
right:5%;
width:150px;}



.osirase p{font-size:16px;}

.osirase-text p{font-size:10px;}

.osirase-text p span{margin-right:10px;}

.osirase-itiran a{font-size:12px;
padding:4px 10px;}

.toha-text{padding-left:10px;}
.toha-img img{width:300px;
margin-top:40px;}

.event-img-p{object-position:0px -150px;}

.iroiro li a img{object-position:0px -100px;}

}


@media (max-width:768px){

/*.wrap{position:absolute;
width:700px;
left:-208px;
height:700px;
overflow:hidden;
}

.navi{position:static;}
*/


.navi{
	height:70px;
}

.tomo{
color:#fff;
font-size:25px;
padding-top:10px;
border-bottom:3px solid #fff;
margin-left:20px;}

#menubtn{float:right;
padding:5px 15px 3px 15px;
background:#124488;
color:#fff;
height:70px;}
#menubtn i{font-size:40px;}
#menubtn p{font-size:14px;}
.navi-ul-ul{background:none;
width:100%;
position:static;
height:100px;
border-bottom:none;
}

.ul-text a{color:#fff;
}
.ul-text{width:100%;}

.ul-text a img{display:none;}
.ul-text a i{display:none;}
.ul-text a p{margin-top:0px;
font-size:14px;
padding:4px;
width:209px;
border-bottom:solid 1px #fff;}

.navi-ul-ul li{float:none;
width:160px;
padding:0;
margin-right:0px;
}
.navi-ul-ul ul{width:100%;}
.navi-nav{
margin-top:0px;
	position:static;
	background:#124488;
}
.navi-nav nav{float:none;
margin-top:100px;
}

.navi-nav nav>ul>li{
margin-left:0;
width:100%;
height:140px;
float:none;
text-align:left;
}

.navi-nav form{
	margin: 5px;
background:;}

.navi-nav form p{
color:#444;
}

.navi-nav form p input{
height:15px;
}

.navi-nav form input{
margin:5px;
height:35px;
min-width:100px;
}

.navi-icon i{
display:none;
}


.navi-text{
	margin-top:14px;
	padding:5px 20px;
font-size:16px;
font-weight:bold;
	color:#124488;
display:block;
background:#7ca6e0;}


.osirase{height:auto;}
.osirase-text p{font-size:10px;}

.t-d{
width:46%;
margin-left:2%;
}

.t-d-2:last-child{padding-top:40px;}
.t-d-2:after {
  content: "";
  display: block;
  clear: both;
}
.t-d{padding: 10px 10px 10px 10px;}

.nambar{font-size:70px;}

.event-img {height:150px;}
.event-text {padding:0px 20px;
}
.event-title{font-size:14px;}
time{font-size:8px}
.event-basho{font-size:10px;}
.tanosimi-more{padding-top:0;}
.moderu-title {
    height: 20px;
}

.pickup li{float:none;
width:96%;
margin-right:2%;
margin-left:2%;
}

.pickup li:last-child{padding-top:40px;}

.event li{float:none;
width:90%;
margin-right:5%;
margin-left:5%;
margin-top:20px;}


.event li:first-child{margin-top:0px;}

.iroiro li{float:none;
width:90%;
margin-right:5%;
margin-left:5%;
padding:15px;}

.iroiro li a{
	height:200px;
	border-radius:50px;}

/****************** width *******************************/
.wid,.wid-1,.copy-right,.wrap-event-1{width:100%;

margin:0 auto;}

}
@media (max-width:1000px) and (min-width:768px){
.navi-nav{right:auto;
left:200px;
width:850px;}
}
@media (min-width:768px){
	#menubtn{display:none;}
}


